.ChoseMatrial .entrMaterial .Addmatriall .adddd{
        display: block;
    width: 150px;
    height: 40px;
    line-height: 38px;
    padding: 0;
    border: 1px solid #edb003;
    color: #fff;
    font-size: 15px;
    border-radius: 0px;
    background: #edb003;
    margin: 15px auto;
    text-transform: uppercase;
}

.tableMatrial{
    margin-top: 15px;
    text-align: center;
}
.tableMatrial table{
    text-align: center;
}
.tableMatrial table .thead-dark{
    background: #eac97a;
    color: #fff;
    font-weight: 400;
}
.table .thead-dark th{
        background-color: #eac97a;
    border-color: #eac97a;
    text-align: center;
}
.tableMatrial table p{
    font-weight: 400;
    margin: 0;
}